Python

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as  sns 
import json

In [2]:
print ('Learning the basics of Python Again in Linkedin')

Learning the basics of Python Again in Linkedin

In [3]:
#Numbers: 
type(2j)
1j * 1j #(used as i in maths algebra)

(-1+0j)

In [4]:
#String 
"1" + "1"
"Jan" + " " + "Smith"

'Jan Smith'

In [5]:
a = [1, 2, 3, 4, 5, 6]
for number in a:
    print(number, end = ' ')

1 2 3 4 5 6

In [6]:
b = 0
while b < 5:
    print(b, end = ' ')
    b = b + 1

0 1 2 3 4

In [7]:
#object oriented programing 
#classes and objects: Capitalize class names only, keep the defining function lower case 
class Dog:
    def _init_(self, name):
        self.name = 'Rover'
        self.legs = 4

    def speak(self):
        print(self.name + 'says: Bark!')

In [ ]:
my_dog = Dog('Rover')
another_dog = Dog('Fluffy')
my_dog.speak()
another_dog.speak()

In [ ]:
def addTwo(x):
    return x + 2
def mul(a, b):
    return a * b
var =mul(addTwo(2), 3)
print(var)

12

In [ ]:
456 % 10

6

Boolean is not directly used but used in python to check the type in if/else statements , for and while loops.

In [ ]:
wewatherIsNice = False
haveUmbrella = True

if (not haveUmbrella) or (wewatherIsNice):
    print('Stay inside')

else:
    print('Go for a walk')

Go for a walk

In [ ]:
name = 'My name is Mandy'
name [8:]

'is Mandy'

In [ ]:
myList= [1,2,3,4,5]
len(myList)
myList[0:5:2]

[1, 3, 5]